/IntroductionCollections/nbproject/private/
/IntroductionCollections/build/
/OdernacaoList/nbproject/private/
/OdernacaoList/build/
/FirstExercicioList/nbproject/private/
/FirstExercicioList/build/
/SecondExercicioList/nbproject/private/
/SecondExercicioList/build/
/ExemploSet/nbproject/private/
/ExemploSet/build/
/OrdenacaoSet/nbproject/private/
/OrdenacaoSet/build/
